.msg {
    position: relative;
    padding: 8pt 16pt;
    margin: 0;
    color: white;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}
.msg::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;
    background-color: transparent;

    border-style: solid;
    border-color: transparent;
    border-width: 20px;

    bottom: -10px;
}

.msg_user_current {
    max-width: 264px;
    margin-left: auto;
    margin-right: 8pt;

    background-color: var(--custom-blue);
}
.msg_user_current::before {
    border-bottom-color: var(--custom-blue);
    border-right-width: 0;

    border-radius: 0 100%;
    -webkit-border-radius: 0 100%;
    -moz-border-radius: 0 100%;
    right: -14.5px;

    transform-origin: center; 
    transform:rotate(35deg);
}
.msg_user_current .msg__header {
    color: var(--custom-orange);
}
.msg_user_companion {
    max-width: 256px;
    margin-right: auto;
    margin-left: 8pt;

    background-color: var(--custom-dark);
}
.msg_user_companion .msg__header {
    color: var(--custom-blue);
}
.msg_user_companion::before {
    border-bottom-color: var(--custom-dark);
    border-left-width: 0;

    border-radius: 100% 0;
    -webkit-border-radius: 100% 0;
    -moz-border-radius: 100% 0;
    left: -14.5px;

    transform-origin: center; 
    transform:rotate(-35deg);
}

.msg__header {
    position: relative;
    font-size: .87rem;
}

.msg__content {
    position: relative;
}

.msg__text {
    font-size: 1rem;
    margin-top: 0;
}
.msg__text:last-child {
    margin-bottom: 0;
}