.app__footer {
    position: absolute;
    z-index: 1000;
    left: var(--app-padding-left);
    
    bottom: 12pt;
    width: var(--app-inner-width);
    height: 36pt;
    
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}