.dialog {
    width: 100%;
    height: 100%;

    border-top: solid 1px var(--tg-theme-text-color);
    border-bottom: solid 1px var(--tg-theme-text-color);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

.dialog__msg-list {
    height: 100%;
}

.dialog__msg-form {}