@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --custom-dark: #2C2C2C;
    --cutom-light: #E7E9EE;
    --custom-black: #171717;
    --custom-red: #FE0000;
    --custom-blue: #54A9E9;
    --custom-orange: #FF8B49;
}

@media screen and (min-width: 992.2px) {
    :root {
        --container-max-height: 320px;
    }
}
@media screen and (max-width: 992px) {
    :root {
        --container-max-height: 288px;
        --cut-container-max-height: 154px;
    }
}


.btn {
    position: relative;

    padding: 10px;
    box-sizing: border-box;
    background-color: var(--custom-dark);
    border: none;
    border-radius: 15px;
    
    color: white;
    font-family: inherit;
    cursor: pointer;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.btn:hover > *:not(.btn__badge) {
    opacity: .7;
}
.btn:active > *:not(.btn__badge) {
    opacity: .5;
}

.btn_color_blue {
    background-color: var(--custom-blue);
}

.btn__content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__badge {
    position: absolute;
    display: flex;

    width: 27px;
    height: 27px;
    top: 0;
    right: 0;
    transform: translate(30%, -50%);

    justify-content: center;
    align-content: center;
    padding: 2px;
    box-sizing: border-box;

    outline: 1px solid var(--custom-blue);
    border-radius: 50%;
}
.btn__badge > span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
}

.btn__badge_color_red {
    color: white;
    background-color: var(--custom-red);
    outline: none;
}
.btn__badge_color_blue {
    color: white;
    background-color: var(--custom-blue);
    outline: none;
}


.msg-form {
    width: 100%;
    height: 61px;
    position: sticky;

    margin: auto;
    padding: 4pt;
    box-sizing: border-box;
    border-radius: 10px;

    background-color: #171717;

    display: flex;
    gap: 6pt;
    align-items: stretch;
}

.msg-form__field {
    height: 100%;
    width: 100%;
    background-color: var(--custom-dark);

    padding: 0;
    padding-left: 8pt;

    color: white;
    font-size: 1.25rem;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.msg-form__field:focus {
    outline: 2px solid var(--custom-blue);
}

.msg-form__send-btn {
    padding: 0;
    padding-right: 5px;
    height: 100%;

    border-radius: 10px;
}


#root {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
}


.page {
    margin: 0;
    background-color: var(--custom-black);
    color: var(--cutom-light);

    font-family: "Open Sans", sans-serif;

    width: 100vw;
    height: 100vh;
}


.app {
    height: 100%;
    max-height: 98vh;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 12pt 12pt;
    padding-bottom: 0;
}


.app__container {
    max-height: var(--container-max-height);
    height: 100%;

    border-radius: 15px;
    overflow: hidden;
}
.app__container:not(:last-of-type) {
    margin-bottom: 12pt;
}

.app__container_empty {
    background-color: var(--cutom-light);
    background-image: url("imgs/anonim-girl_placeholder.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.app__container_cut {
    max-height: var(--cut-container-max-height);
}


.app__footer {
    display: flex;
    position: sticky;
    gap: 8pt;

    height: 61px;
    margin-top: auto;
    padding-top: 20pt;
    padding-bottom: 12pt;
}
/* @media screen and (max-height: 532px) {
    .app__footer {
        display: none;
    }
} */

.app__footer_hidden {
    display: none;
    visibility: hidden;
    opacity: 1;
}


.app__btn_mod_next {
    width: 100%;
    text-transform: uppercase;
    font-size: 2.25rem;
}
.app__btn_mod_next > .btn__content {
    gap: 8pt;
}


.dialog {
    height: 100%;
    max-height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog__msg-list {
    padding: 8pt 0;
    margin: 0;

    height: 100%;
    overflow-y: scroll;
    
    list-style: none;
    color: black;
}

.dialog__msg-item {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.dialog__msg-item:not(:last-child) {
    margin-bottom: 16pt;
}


.msg {
    position: relative;
    color: white;
    padding: 8pt 16pt;
    margin: 0;
    border-radius: 15px;
}
.msg::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;
    background-color: transparent;

    border-style: solid;
    border-color: transparent;
    border-width: 20px;

    bottom: -10px;
}

.msg_user_current {
    max-width: 264px;
    margin-left: auto;
    margin-right: 8pt;

    background-color: var(--custom-blue);
}
.msg_user_current::before {
    border-bottom-color: var(--custom-blue);
    border-right-width: 0;

    border-radius: 0 100%;
    right: -14.5px;

    transform-origin: center; 
    transform:rotate(35deg);
}
.msg_user_current .msg__header {
    color: var(--custom-orange);
}
.msg_user_companion {
    max-width: 256px;
    margin-right: auto;
    margin-left: 8pt;

    background-color: var(--custom-dark);
}
.msg_user_companion .msg__header {
    color: var(--custom-blue);
}
.msg_user_companion::before {
    border-bottom-color: var(--custom-dark);
    border-left-width: 0;

    border-radius: 100% 0;
    left: -14.5px;

    transform-origin: center; 
    transform:rotate(-35deg);
}

.msg__header {
    position: relative;
    font-size: .87rem;
}

.msg__content {
    position: relative;
}

.msg__text {
    font-size: 1rem;
    margin-top: 0;
}
.msg__text:last-child {
    margin-bottom: 0;
}