@import "tailwindcss";


@theme {
    --color-black: #1E1E1E;
    --color-cloud: #E7E9EE;
    --color-light-blue: #54A9E9;
    --color-gray: #2C2C2C;
    --color-orange: #FF8B49;
    --color-red: #FE0000;
}
